@{
    ViewBag.Title = "News";
    ViewBag.Current = "News";
    ViewBag.CurrentPageForNavBar = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageCSS{
    <style>

        /*.map img {
            position: relative;
            float: left;
    
        }*/

        #map-container { position: relative; }

        #map-container > img { 
            width: 200%; 

        }

        #map-container .dot img { width:10px; }

        .dot {
            position: absolute;
            * float : right;
            
        }

        /*.mini-layout {
            margin-bottom: 20px;
            padding: 9px;
        }

            .mini-layout, .mini-layout .mini-layout-body, .mini-layout.fluid .mini-layout-sidebar {
                height: 300px;
            }

        .mini-layout {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
        }

        .mini-layout-body img {
            width: 100%;
            height: 140%;
            position: relative;
        }

        @@media(min-width: 768) {
            .mini-layout {
                width: 794px;
                height: 384px;
            }
        }

        @@media (min-width: 992px) {
            .mini-layout {
                width: 1000px;
                height: 466px;
            }
        }

        .mini-layout-body div {
            position: relative;
            z-index: 999;
        }


        #japan {
            top: 62%;
            left: 85%;
            font-size: 150%;
        }

        #china {
            top: 55%;
            left: 75%;
            font-size: 150%;
        }

        #australia {
            top: 82%;
            left: 85%;
            font-size: 150%;
        }

        #unitedstates {
            top: 32%;
            left: 15%;
            font-size: 150%;
        }

        .container {
            position: relative;
            * padding: 0 0 0 55px;
        }

        #sidebar {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 50px;
            background: #000;
            float: right;
        }

        #header {
            border: 1px solid #000;
            width: 100px;
            height: 20px;
            margin: 0 0 5px 0;
        }

        #content {
            border: 1px solid #000;
            width: 100px;
            height: 50px;
            margin: 5px 0 5px 0;
        }

        #footer {
            border: 1px solid #000;
            width: 100px;
            height: 20px;
            margin: 5px 0 0 0;
        }*/
    </style>
}

@section PageJavascript{
    <script src="~/Assets/Bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="~/Assets/Bootstrap/js/bootstrap-popover.js"></script>

    <script>
        $(document).ready(function () {
            $(".dotlink").popover({ html: true });
        });

    </script>


}

<div class="container">
 
    <div class="row">
        <div class="span12">
            <div id="map-container">
                <img src="http://www.wpclipart.com/geography/world_maps/world_map_simple.png">
                <div style="top:20%; left:20%" class="dot"><a class="dotlink" title="" 
                                                              data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." 
                                                              data-placement="right" 
                                                              data-toggle="popover" 
                                                              href="#" 
                                                              data-original-title="Popover on top"><img src="~/Assets/TNC/SiteImages/dots.png" /></a></div>
                <div style="top:30%; left:30%" class="dot"><a class="dotlink" title=""
   data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
   data-placement="right"
   data-toggle="popover"
   href="#"
   data-original-title="Popover on top"><img src="~/Assets/TNC/SiteImages/dots.png" /></a></div>
                <div style="top:40%; left:40%" class="dot"><a class="dotlink" title=""
   data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
   data-placement="right"
   data-toggle="popover"
   href="#"
   data-original-title="Popover on top"><img src="~/Assets/TNC/SiteImages/dots.png" /></a></div>
                <div style="top:50%; left:50%" class="dot"><a class="dotlink" title=""
   data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
   data-placement="right"
   data-toggle="popover"
   href="#"
   data-original-title="Popover on top"><img src="~/Assets/TNC/SiteImages/dots.png" /></a></div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="span6">
            <div class="row">
                <h2>News item 1</h2>
                <img style="float:left; margin-right:10px;margin-bottom:10px;" src="http://placehold.it/135x153" /><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eleifend congue. Morbi interdum eu enim eget sagittis. Fusce libero felis, sagittis vel volutpat pretium, sollicitudin in leo. Suspendisse faucibus suscipit ornare. Duis volutpat at mi at vestibulum. Proin sed quam eu erat consectetur placerat. Proin id pulvinar ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eu diam sit amet libero mollis vehicula eu at magna. Praesent nec lacus laoreet, blandit magna et, iaculis quam. Integer vulputate iaculis hendrerit. Vivamus feugiat, urna eget gravida bibendum, quam lectus porttitor diam, at bibendum massa nibh vel massa. Etiam dapibus magna dolor. Proin consectetur nisi et eros commodo, quis pulvinar turpis venenatis. </p>
            </div>
            <div class="row">
                <h2>News item 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eleifend congue. Morbi interdum eu enim eget sagittis. Fusce libero felis, sagittis vel volutpat pretium, sollicitudin in leo. Suspendisse faucibus suscipit ornare. Duis volutpat at mi at vestibulum. Proin sed quam eu erat consectetur placerat. Proin id pulvinar ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eu diam sit amet libero mollis vehicula eu at magna. Praesent nec lacus laoreet, blandit magna et, iaculis quam. Integer vulputate iaculis hendrerit. Vivamus feugiat, urna eget gravida bibendum, quam lectus porttitor diam, at bibendum massa nibh vel massa. Etiam dapibus magna dolor. Proin consectetur nisi et eros commodo, quis pulvinar turpis venenatis. </p>
            </div>
            <div class="row">
                <h2>News item 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis eleifend congue. Morbi interdum eu enim eget sagittis. Fusce libero felis, sagittis vel volutpat pretium, sollicitudin in leo. Suspendisse faucibus suscipit ornare. Duis volutpat at mi at vestibulum. Proin sed quam eu erat consectetur placerat. Proin id pulvinar ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eu diam sit amet libero mollis vehicula eu at magna. Praesent nec lacus laoreet, blandit magna et, iaculis quam. Integer vulputate iaculis hendrerit. Vivamus feugiat, urna eget gravida bibendum, quam lectus porttitor diam, at bibendum massa nibh vel massa. Etiam dapibus magna dolor. Proin consectetur nisi et eros commodo, quis pulvinar turpis venenatis. </p>
            </div>


        </div>
        <div class="span3">
            
            <h2>Menu</h2>
            <ul class="nav nav-list">
                <li class="nav-header">List header</li>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
            </ul>
       </div>

    </div>

</div>