@{
    ViewBag.Title = "Blog";
    ViewBag.Current = "Blog";
    ViewBag.CurrentPageForNavBar = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div >
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

        <img class="displayed" src="/Resources/SiteImages/ComingSoon.jpg" alt="Coming Soon" />
    </div>