@{
    ViewBag.Title = "Blog";
    ViewBag.Current = "Blog";
    ViewBag.CurrentPageForNavBar = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageCSS{}
@section PageJavascript{}

<div >
   
    </div>