@{
    ViewBag.Title = "News";
    ViewBag.Current = "News";
    ViewBag.CurrentPageForNavBar = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageCSS{
    <style>
    .mini-layout {
        margin-bottom: 20px;
        padding: 9px;
    }

    .mini-layout, .mini-layout .mini-layout-body, .mini-layout.fluid .mini-layout-sidebar {
        height: 300px;
    }

    .mini-layout {
       
        
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    }

    .mini-layout-body img {
        width: 100%;
        height: 140%;
        position: relative;
    }

    @@media(min-width: 768) {
        .mini-layout {
            width: 794px;
            height: 384px;
        }
    }

    @@media (min-width: 992px) {
        .mini-layout {
            width: 1000px;
            height: 466px;
        }
    }

    .mini-layout-body div {
        position: relative;
        z-index: 999;
    }


    #japan {
        top: 62%;
        left: 85%;
        font-size:150%;
    }

    #china {
        top: 55%;
        left: 75%;
        font-size:150%;
    }

    #australia {
        top: 82%;
        left: 85%;
        font-size:150%;
    }

    #unitedstates {
        top: 32%;
        left: 15%;
        font-size:150%;
    }
        .container {
            position: relative;
            padding: 0 0 0 55px;
        }

        #sidebar {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 50px;
            background: #000;
            float:right;
        }

        #header {
            border: 1px solid #000;
            width: 100px;
            height: 20px;
            margin: 0 0 5px 0;
        }

        #content {
            border: 1px solid #000;
            width: 100px;
            height: 50px;
            margin: 5px 0 5px 0;
        }

        #footer {
            border: 1px solid #000;
            width: 100px;
            height: 20px;
            margin: 5px 0 0 0;
        }


    </style>

    
    
    }
@section PageJavascript{
<script>
    

</script>
    
    
    }


@*<div class="container" align="center">
      <div class="mini-layout">
           <div class="mini-layout-body" style="">
               <div id="japan"><a href="http://www.google.com/"><ul><li></li></ul></a></div>
               <div id="china"><ul><li></li></ul></div>
               <div id="australia"><ul><li></li></ul></div>
               <div id="unitedstates"><ul><li></li></ul></div>
               <img src="/Assets/TNC/SiteImages/World_Map.png" />
           </div>

       </div>

    </div>*@

<div class="container">
    <div id="sidebar">Test</div>
    <div id="header"></div>
    <div id="content"></div>
    <div id="footer"></div>
</div>

