@{
    ViewBag.Title = "Blog";
    ViewBag.Current = "Blog";
    ViewBag.CurrentPageForNavBar = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageCSS{}
@section PageJavascript{}

<div class="container" >
    <div class="content">
        <div align="center">
        <img src="/Assets/TNC/SiteImages/World_Map.png" />
        </div>

         </div>
   
    </div>