@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section PageCSS
{
    <style>
        
    body {
        /*padding-top: 60px; 60px to make the container go all the way to the bottom of the topbar */
    } 
     
    
    .tooltip-demo { margin-top: 74px; }

    #waste { float: left; }
    
    #earth-image { float: left; }

    #energy {
        float: left;
        margin-top: -47%;
        margin-left: 40%;
    }

    #water-food-security {
        float: left;
        margin-top: -35%;
        margin-left: 18%;
    }

    #shelter-community
    {
       float: left;
       margin-top: -12%;
       margin-left: 25%;  
    }

    #transport-mobility
    {
       float: left;
       margin-top: -16%;
       margin-left: 55%;
    }

    #waste-to-energy {
        float: left;
        margin-top: -35%;
        margin-left: 60%;
    }

        /*.btn { 
        background-image: none;
        font-size: 19px;
    }*/ 

    </style>
 }  


    <div class="container">
        <div class="row">
            <div class="span12">
                <p>Welcome to our virtual introduction and a glimpse into our vision for the future. Please click the buttons below to see what makes up our cycle of innovation.</p> 
            </div>
        </div>
   

        <div class="bs-docs-example tooltip-demo model">
            <img id="earth-image" alt="sustainability model" src="@Url.Content("~/Assets/TNC/SiteImages/sustaincycle2.jpg")" />
        
            <a id="energy" title="Energy" 
               data-content=" <a href='http://revairwind.com'>Cylindrical Axis Wind Turbines</a><br>Hydro Power Turbines<br>Pipelines<br>Fuel Tanks<br>20'-40' Containers - Shipping and Control Centers<br>" 
               data-placement="right" 
               data-toggle="popover" 
               class="btn" 
               href="#" 
               data-original-title="">Everything Begins with Energy</a>

            <a id="water-food-security" title="Water, Food, and Security" 
               data-content="Food Towers and Livestock Sheltering<br>Irrigation Systems<br>Food and Water Storage Containers<br>Aquaculture - Food Wells and Repopulation<br>20'-40' Containers - Shipping and Storage" 
               data-placement="bottom" 
               data-toggle="popover" 
               class="btn" 
               href="#" 
               data-original-title="">Water, Food, and Security</a>
            
            <a id="shelter-community" title="Shelter and Communities" 
               data-content="Housing & Commercial Bldgs<br>Community Infrastructure<br>Remote Sheltering and Resorts<br>Garages, Carports, Storage Sheds, and Decks<br>20'-40' Containers - Shipping and Storage<br>" 
               data-placement="top" 
               data-toggle="popover" 
               class="btn" 
               href="#" 
               data-original-title="">Shelter and Communities</a>
            
            <a id="transport-mobility" title="Transportation and Mobility"
               data-content="Charter and Ferry Passenger Transport Vessels<br>Mobile Clinic and Hospital Ships<br>Workboats and Barges<br>Marinas<br>Patrol Boats<br>Seawalls<br>Storage Tanks<br>20'-40' Containers - Shipping and Storage<br>"
               data-placement="bottom"
               data-toggle="popover"
               class="btn"
               href="#"
               data-original-title="">Transportation and Mobility</a>
           
            <!--Removed information from data-content attribute. No information has been given for the data-content of the new button as of may 7, 2014. SB-->
            <a id="waste-to-energy" title="Waste Back Into Energy" 
               data-content="" 
               data-placement="bottom" 
               data-toggle="popover" 
               class="btn" 
               href="#" 
               data-original-title="">Waste Back Into Energy</a>
          
        </div>

    </div>

@section PageJavascript
{
    <script src="@Url.Content("~/Assets/Bootstrap/js/bootstrap-tooltip.js")"></script>
        <script src="@Url.Content("~/Assets/Bootstrap/js/bootstrap-popover.js")"></script>

    <script type="text/javascript">
        //$('#tooltip1').tooltip("delay",  "{ show: 500, hide: 300 }");
        $(".model a").popover({ html: true });
        $(".model a").click(function (event) {
            event.preventDefault();
            //        $( "<div>" )
            //        .append( "default " + event.type + " prevented" )
            //        .appendTo( "#log" );
            console.info(this);

            //        
        });

        //$('.bs-docs-tooltip-examples li a').popover();
    </script>

}
