@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section PageCSS
{
    <style>
        
      body {
         /*padding-top: 60px; 60px to make the container go all the way to the bottom of the topbar */
      }        
    @*.tooltip-demo { margin-top: 74px; }*@
    #waste { float: left; }
    
    #earth-image { float: left; }

    #pop-top 
    {
        float: left;
        margin-left: 21%;
        margin-top: -29%;
    }
    #pop-right
    {
        float: left;
        margin-left: 65%;
        margin-top: -29%;
    }
    #pop-bottom
    {
       float: left;
       margin-top: -48%;
       margin-left: 39%;
       
    }
    #pop-left
    {
       float: left;
       margin-top: -11%;
       margin-left: 41%;
       }
    </style>
 }  


    <div class="container">
    <div class="row">
        <div class="span8">
            <p>True North Composites Circle of Sustainability Model: Everything begins with energy; with energy you can make (pump, filter, desalinate) 
            water for nourishing, sheltering, and mobilizing communities. Welcome to our virtual introduction  and a glimpse into our vision for the future.</p> 
            <p>Please hover over text for more information about product lines</p>
        </div>
    </div>
   

        <div class="bs-docs-example tooltip-demo model">
        <img id="earth-image" alt="sustainability model" src="@Url.Content("~/Assets/TNC/SiteImages/sustaincycle.jpg")" />
        
            <a id="pop-top" title="" data-content="Housing & Commercial Bldgs<br>Community Infrastructure<br>Remote Sheltering and Resorts<br>Garages, Carports, Storage Sheds, and Decks<br>20'-40' Containers - Shipping and Storage<br>"
                        
                    data-placement="left" data-toggle="popover" class="btn" href="#" data-original-title="">Businesses</a>
            <a id="pop-right" title="" data-content="<a href='http://revairwind.com'>Cylindrical Axis Wind Turbines</a><br>Hydro Power Turbines<br>Pipelines<br><Fuel Tanks<br>20'-40' Containers - Shipping and Control Centers<br>" data-placement="right" data-toggle="popover" class="btn" href="#" data-original-title="">Energy</a>
             

<a  id="pop-bottom" data-original-title="" href="#" class="btn" data-toggle="popover" data-placement="bottom" 
    data-content="Charter and Ferry Passenger Transport Vessels<br>Mobile Clinic and Hospital Ships<br>Workboats and Barges<br>Marinas<br>Patrol Boats<br>Seawalls<br>Storage Tanks<br>20'-40' Containers - Shipping and Storage<br>"
                   title="" id="pop-bottom">Transportation</a>
            

           <a id="pop-left" title="" data-content="Food Towers and Livestock Sheltering<br>Irrigation Systems<br>Food and Water Storage Containers<br>Aquaculture - Food Wells and Repopulation<br>20'-40' Containers - Shipping and Storage" data-placement="bottom" data-toggle="popover" class="btn" href="#" data-original-title="">Water and Agriculture</a>
          
        </div>



    
    
    </div>

@section PageJavascript
{
    <script src="@Url.Content("~/Assets/Bootstrap/js/bootstrap-tooltip.js")"></script>
        <script src="@Url.Content("~/Assets/Bootstrap/js/bootstrap-popover.js")"></script>

    <script type="text/javascript">
        //$('#tooltip1').tooltip("delay",  "{ show: 500, hide: 300 }");
        $(".model a").popover({ html: true });
        $(".model a").click(function (event) {
            event.preventDefault();
            //        $( "<div>" )
            //        .append( "default " + event.type + " prevented" )
            //        .appendTo( "#log" );
            console.info(this);

            //        
        });

        //$('.bs-docs-tooltip-examples li a').popover();
    </script>

}
