USE [master]
GO
/****** Object:  Database [TNC]    Script Date: 7/31/2014 4:05:01 PM ******/
CREATE DATABASE [TNC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TNC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\TNC.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TNC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\TNC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TNC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TNC]
GO
/****** Object:  Table [dbo].[NewsItems]    Script Date: 7/31/2014 4:05:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsItems](
	[NewsItemID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[UrlTitle] [nvarchar](255) NOT NULL,
	[PublicationDate] [datetime] NOT NULL,
	[Author] [nvarchar](255) NULL,
	[Summary] [text] NULL,
	[Body] [text] NULL,
	[LocatorPositionX] [float] NULL,
	[LocatorPositionY] [float] NULL,
	[LocationPopupTitle] [text] NULL,
	[LocationPopupDescription] [text] NULL,
 CONSTRAINT [PK_NewsItems] PRIMARY KEY CLUSTERED 
(
	[NewsItemID] ASC,
	[UrlTitle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[NewsItems] ON 

GO
INSERT [dbo].[NewsItems] ([NewsItemID], [Title], [UrlTitle], [PublicationDate], [Author], [Summary], [Body], [LocatorPositionX], [LocatorPositionY], [LocationPopupTitle], [LocationPopupDescription]) VALUES (1, N'Aldo''s Test', N'Aldos_Test', CAST(0x0000A36500000000 AS DateTime), N'Aldo', N'This info comes from the db', N'test body from the db', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[NewsItems] ([NewsItemID], [Title], [UrlTitle], [PublicationDate], [Author], [Summary], [Body], [LocatorPositionX], [LocatorPositionY], [LocationPopupTitle], [LocationPopupDescription]) VALUES (2, N'Turbines are cool', N'Turbines-are-cool', CAST(0x0000A3790104C01B AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[NewsItems] OFF
GO
USE [master]
GO
